.heading_div2{
  font-size:18px;
}

.heading{
  font-size : 23px;
  width:100%;
  margin: 0px;
  box-shadow: 5px 5px 5px blueviolet;
}
.heading_div{
  float: none;
  background: whitesmoke;
  padding: 10px;
  border-radius: 2px;
  color: blueviolet;
  box-shadow: 5px 5px 5px blueviolet;
}
.result_para_tag{
  box-shadow: 5px 5px 5px blueviolet;
  font-size:20px;
}
.copy_right_footer{
  position: fixed;
  color:seashell;
  bottom:0;
  width: 100%;
  background-color: grey;
  line-height: 3;
  text-align: center;
}
canvas{
  border: 5px solid grey;
  border-radius: 20px;
  box-shadow: 5px 5px 5px blueviolet;
  margin-top: 150px;

}